# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
pip-log.txt

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
